
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 380px;
    text-align: center;
    border: 2px solid #7b2cbf; /* violet */
}


h1, h2 {
    margin-bottom: 20px;
    color: #111;
    font-family: "Georgia", "Times New Roman", serif;
}


p {
    margin-bottom: 15px;
    color: #333;
}


input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border: 1px solid #7b2cbf;
}


.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #7b2cbf;
    color: white;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #5a189a;
}


.btn-secondary {
    background-color: #9d4edd;
}

.btn-secondary:hover {
    background-color: #7b2cbf;
}

.buttons {
    margin-top: 20px;
}
