* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #f4f0fa;
    padding: 50px;
}


h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-family: "Georgia", "Times New Roman", serif;
}


.commande {
    width: 800px;
    margin: 0 auto 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}


.commande:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}


.commande h3 {
    margin-bottom: 8px;
    color: #111;
}

.commande p {
    color: #555;
}


.status {
    padding: 8px 18px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}


.preparation {
    background-color: #f39c12;
    padding: 8px 18px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.pret {
    background-color: #7b2cbf;
    padding: 8px 18px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.fini {
    background-color: #27ae60;
    padding: 8px 18px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}
