/* Reset simple */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Page blanche */
body {
    background-color: white;
    padding: 50px;
}

/* Conteneur principal */
.container {
    width: 800px;
    margin: auto;
}

/* Titre */
.container h2 {
    margin-bottom: 30px;
    color: #111;
}

/* Bloc commande */
.commande {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid #7b2cbf; /* violet */
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Texte commande */
.commande h3 {
    margin-bottom: 5px;
}

/* Statut */
.status {
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

/* Couleurs des statuts */
.preparation {
    background-color: orange;
}

.ready {
    background-color: #7b2cbf;
}

.delivered {
    background-color: green;
}
