* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f0fa;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre */
h2 {
    margin-bottom: 30px;
    color: #333;
}

/* Carte livraison */
.livraison {
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Texte */
.livraison p {
    font-size: 15px;
    color: #444;
}

/* Boutons */
.btn {
    margin-top: 10px;
    padding: 12px;
    text-align: center;
    background-color: #7b2cbf;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #5a189a;
}

.done {
    background-color: green;
}

.done:hover {
    background-color: darkgreen;
}
