* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f0fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

h2 {
    margin-bottom: 30px;
    color: #333;
}

.notation-box {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-align: center;
}

/* Texte */
.notation-box p {
    margin-bottom: 20px;
}

/* Etoiles */
.stars {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

/* On cache les boutons radio */
.stars input {
    display: none;
}

/* Etoiles */
.stars label {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover */
.stars label:hover,
.stars label:hover ~ label {
    color: gold;
}

/* Etoile sélectionnée */
.stars input:checked ~ label {
    color: gold;
}

/* Zone commentaire */
textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
}

/* Bouton */
button {
    width: 100%;
    padding: 12px;
    background-color: #7b2cbf;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #5a189a;
}
