/*ce bloc nous sert à avoir une mise en page stable pour pas qu'un imprévu change tout, en gros tout est mis à zéro et la largeur est définie par convention au cas où le style plante*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d9d9d9;
}



header {
  background-color: #b98acb;
  padding: 20px 40px;
}

.cadre {
  width: 100%;
}


.enseigne {
  display: inline-block; /*ranger onglets principaux pour aligner comme un tableau*/
  width: 20%;
  vertical-align: middle;
}

.enseigne p {
  font-family: "Great Vibes", cursive;
  text-align: center;
  font-size: 40px;
}

nav {
  display: inline-block;
  width: 55%;
  text-align: center;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  font-family: "Georgia", "Times New Roman", serif;
  margin: 0 25px;
  font-weight:bold;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

nav ul li a:hover {
  color:gold;
}

.barre {
  display: inline-block;
  width: 20%;
  text-align: right;
  vertical-align: middle;
}


.barre input {
  padding: 6px 10px;
  border-radius: 20px;
  background-color: white;
  border: 2px solid white;
}



.presentation {
  background-color: white;
  border-radius: 40px;
  width: 95%;
  margin: 40px auto; /*centrer le texte*/
  padding: 30px;
}

.image {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.image img {
  width: 100%; /*image peut s'adapter à la largeur restante*/
  border-radius: 8px;
}


.texte {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-left: 4%;
  padding-top: 30px;
}

.texte p {
  margin-bottom: 15px;
  line-height: 1.6;
  text-align: center;
}

.carte {
  position: relative;
}


.deroulant {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  padding: 10px 0;
  width: 180px;
  border: 1px solid black;
}

.deroulant li {
  padding: 8px 15px;
}

.deroulant li a {
  color: black;
  display: block;
}


.carte:hover .deroulant {
  display: block;
}

/*on refait exactement les mêmes lignes de code pour le menu déroulant de A PROPOS*/

.propos {
    position: relative;
}

.deroulant2 {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    padding: 10px 0;
    width: 180px;
    border: 1px solid black;
}

.deroulant2 li {
    padding: 8px 8px;
}

.deroulant2 li a {
    color: black;
    display: block;
}


.propos:hover .deroulant2 {
    display: block;
}

.profil {
    background-color: white;
    width: 85%;
    margin: 50px auto;
    padding: 40px;
}

.profil h2 {
    margin-bottom: 30px;
    font-family: "Georgia", "Times New Roman", serif;
}


.profil2 {
    text-align: center;
}


.carteprofil {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    margin: 0 2%;
    padding: 20px;
    border: 2px solid #b98acb;
    border-radius: 8px;
    text-align: left;
    background-color: #f9f9f9;
}

.carteprofil h3 {
    margin-bottom: 15px;
    font-family: "Georgia", "Times New Roman", serif;
}

.carteprofil ul {
    padding-left: 20px;
}

.info {
    margin-top: 15px;
    text-align: right;
}

.edit {
    display: inline-flex;
    align-items: center;
    font-family: "Georgia", "Times New Roman", serif;
    text-decoration: none;
    background-color: #b98acb;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.edit:hover {
    background-color: gold;
}

.crayon {
  width: 25px;
  height: 25px;
}

.tahia {
  position:fixed;
  bottom: 0;
  right: 0;
  width: 120px;
}

.etoile {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.recherche {
    text-align: center;
    margin: 20px;
}

.recherche input {
    padding: 8px;
    width: 250px;
}


.filtres {
    text-align: center;
    margin-bottom: 20px;
}

.filtres button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}


.plats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.aliment {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
}

.aliment h3 {
    margin-top: 0;
}

body main h2 {
font-family: "Great Vibes";
}
